# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ================ #
# Unity test tools #
# ================ #
UnityTestTools/
UnityTestTools*

# ================ #
# Unity test cases #
# ================ #

UnityTestCases/
UnityTestCases*

# =========== #
# Visual Studio addons #
# =========== #

packages/
.nuget/
packages*


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db